# Ensemble (voting)

In [1]:
import os
os.chdir('C:\\Users\\joana\\PycharmProjects\\pythonProject1\\SIB\\src')
from si.data import Dataset 
from si.util import summary
from si.util.cv import CrossValidationScores

In [2]:
DIR = os.path.dirname(os.path.realpath('.'))
filename = os.path.join(DIR, 'datasets/breast-bin.data')
dataset = Dataset.from_data(filename)
summary(dataset)

,A,B,C,D,E,F,G,H,I,Y
mean,4.417740,3.134478,3.207439,2.806867,3.216023,3.486409,3.437768,2.866953,1.589413,0.344778
vars,7.917053,9.298082,8.819630,8.141527,4.896110,13.099601,5.937114,9.311340,2.937284,0.225906
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000
max,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,1.000000

In [3]:
# Use accuracy as scorring function
from si.util.metrics import accuracy_score

### Decision Tree

In [4]:
from si.supervised.dt import DecisionTree

In [5]:
dt = DecisionTree()

In [6]:
cv = CrossValidationScores(dt,dataset,score=accuracy_score)
cv.run()
cv.toDataframe()

   Train Scores  Test Scores
0      0.955277     0.950000
1      0.955277     0.935714
2      0.940966     0.914286

### Logistic regression

In [7]:
from si.supervised.logreg import LogisticRegression
logreg = LogisticRegression()

In [8]:
cv = CrossValidationScores(logreg,dataset,score=accuracy_score)
cv.run()
cv.toDataframe()

   Train Scores  Test Scores
0      0.445844     0.497002
1      0.455615     0.462343
2      0.460639     0.457057

### KNN

In [9]:
from si.supervised.knn import KNN

In [10]:
knn = KNN(7)

In [12]:
cv = CrossValidationScores(knn,dataset,score=accuracy_score)
cv.run()
cv.toDataframe()

TypeError: cost() takes 1 positional argument but 3 were given

## Ensemble

In [ ]:
def fvote(preds):
    return max(set(preds), key=preds.count)

In [ ]:
from si.supervised import Ensemble
en = Ensemble([dt,logreg,knn],fvote,accuracy_score)

In [ ]:
cv = CrossValidationScore(en,dataset,score=accuracy_score)
cv.run()
cv.toDataframe()