# Ensemble (voting)

In [1]:
import os
os.chdir('C:\\Users\\joana\\PycharmProjects\\pythonProject1\\SIB\\src')
from si.data import Dataset 
from si.util import summary
from si.util.cv import CrossValidationScore

In [2]:
DIR = os.path.dirname(os.path.realpath('.'))
filename = os.path.join(DIR, 'datasets/breast-bin.data')
dataset = Dataset.from_data(filename)
summary(dataset)

,A,B,C,D,E,F,G,H,I,Y
mean,4.417740,3.134478,3.207439,2.806867,3.216023,3.486409,3.437768,2.866953,1.589413,0.344778
vars,7.917053,9.298082,8.819630,8.141527,4.896110,13.099601,5.937114,9.311340,2.937284,0.225906
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000
max,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,1.000000

In [3]:
# Use accuracy as scorring function
from si.util.metrics import accuracy_score

### Decision Tree

In [4]:
from si.supervised.dt import DecisionTree

In [5]:
dt = DecisionTree()

In [6]:
cv = CrossValidationScore(dt,dataset,score=accuracy_score)
cv.run()
cv.toDataframe()

   Train Scores  Test Scores
0      0.949911     0.957143
1      0.948122     0.964286
2      0.960644     0.914286

### Logistic regression

In [7]:
from si.supervised.logreg import LogisticRegression
logreg = LogisticRegression()

In [8]:
cv = CrossValidationScore(logreg,dataset,score=accuracy_score)
cv.run()
cv.toDataframe()

   Train Scores  Test Scores
0      0.896243     0.885714
1      0.903399     0.857143
2      0.887299     0.914286

### KNN

In [9]:
from si.supervised.knn import KNN

In [10]:
knn = KNN(7)

In [11]:
cv = CrossValidationScore(knn,dataset,score=accuracy_score)
cv.run()
cv.toDataframe()

   Train Scores  Test Scores
0      0.971377     0.964286
1      0.976744     0.964286
2      0.978533     0.964286

## Ensemble

In [12]:
def fvote(preds):
    return max(set(preds), key=preds.count)

In [13]:
from si.supervised.ensemble import Ensemble
en = Ensemble([dt,logreg,knn],fvote,accuracy_score)

In [14]:
cv = CrossValidationScore(en,dataset,score=accuracy_score)
cv.run()
cv.toDataframe()

   Train Scores  Test Scores
0      0.957066     0.964286
1      0.962433     0.942857
2      0.960644     0.964286

### Confusion Matrix

In [15]:
from si.util.metrics import ConfusionMatrix

In [29]:
print(dataset.Y.shape)

(699,)

In [38]:
print(cv.ds)

[(<si.data.dataset.Dataset object at 0x00000188F4E5B1C8>, <si.data.dataset.Dataset object at 0x00000188F623F788>), (<si.data.dataset.Dataset object at 0x00000188F5B8EEC8>, <si.data.dataset.Dataset object at 0x00000188F5B8EE48>), (<si.data.dataset.Dataset object at 0x00000188F625FEC8>, <si.data.dataset.Dataset object at 0x00000188F625FF48>)]

In [34]:
cm = ConfusionMatrix(dataset.Y, cv.ds[1])

In [35]:
cm.toDataframe()

ValueError: arrays must all be same length