# Ensemble (voting)

In [2]:
import os
os.chdir('C:\\Users\\joana\\PycharmProjects\\pythonProject1\\SIB\\src')
from si.data import Dataset 
from si.util import summary
from si.util.cv import CrossValidationScores

In [3]:
DIR = os.path.dirname(os.path.realpath('.'))
filename = os.path.join(DIR, 'datasets/breast-bin.data')
dataset = Dataset.from_data(filename)
summary(dataset)

,A,B,C,D,E,F,G,H,I,Y
mean,4.417740,3.134478,3.207439,2.806867,3.216023,3.486409,3.437768,2.866953,1.589413,0.344778
vars,7.917053,9.298082,8.819630,8.141527,4.896110,13.099601,5.937114,9.311340,2.937284,0.225906
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000
max,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,1.000000

In [6]:
# Use accuracy as scorring function
from si.util.metrics import accuracy_score

### Decision Tree

In [13]:
from si.supervised.dt import DecisionTree

In [14]:
dt = DecisionTree()

In [15]:
cv = CrossValidationScores(dt,dataset,score=accuracy_score)
cv.run()
cv.toDataframe()

AttributeError: 'Dataset' object has no attribute 'y'

### Logistic regression

In [7]:
from si.supervised import LogisticRegression
logreg = LogisticRegression()

In [8]:
cv = CrossValidationScore(logreg,dataset,score=accuracy_score)
cv.run()
cv.toDataframe()

   Train Scores  Test Scores
0      0.966011     0.978571
1      0.967800     0.978571
2      0.969589     0.978571

### KNN

In [9]:
from si.supervised import KNN

In [19]:
knn = KNN(7)

In [20]:
cv = CrossValidationScore(knn,dataset,score=accuracy_score)
cv.run()
cv.toDataframe()

   Train Scores  Test Scores
0      0.976744     0.985714
1      0.978533     0.971429
2      0.976744     0.985714

## Ensemble

In [12]:
def fvote(preds):
    return max(set(preds), key=preds.count)

In [21]:
from si.supervised import Ensemble
en = Ensemble([dt,logreg,knn],fvote,accuracy_score)

In [22]:
cv = CrossValidationScore(en,dataset,score=accuracy_score)
cv.run()
cv.toDataframe()

   Train Scores  Test Scores
0      0.973166     0.950000
1      0.974955     0.964286
2      0.974955     0.964286